.markdowns-container {
  display: flex;
  flex-direction: row;
  height: 600px;
}


.header {
  height: 45x;
  display: flex;
  justify-content: space-between;
}

.header .title {
  color: white;
  margin: 0 5px;
}

.markdown-container {
  width: 50%;
}

.markdown-container textarea {
  resize: none;
  height: 100%;
  width: 99%;
  border: none;
  margin: 5px;
}

.markdown-container {
  width: 50%;
}

.markdown-container .preview {
  resize: none;
  height: 100%;
  width: 100%;
  margin: 5px;
}

.markdown-container .title {
  height: 20px;
  padding: 0 5px;
  color: white;
  display: flex;
  justify-content: space-between;
}